@media screen and (min-width: 1024px) {

  .nuevo-video-container{
    background-color: #1e1e1e;
    padding-bottom: 60px;
  }
  
  .titulo{
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    background-color: #1e1e1e;
    color: white;
  }
  
  .formulario-parrafo{
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
}
